# Data
datasets==2.18.0
huggingface-hub==0.21.4

# Processing
pandas==2.2.1
numpy==1.26.4
jsonschema==4.21.1

# Schema & Validation
great-expectations==0.18.12

# DVC
dvc==3.49.0
pathspec==0.11.2

# Testing
pytest==8.1.0
pytest-cov==5.0.0

# Logging & Alerts
slack-sdk==3.27.1
python-dotenv==1.0.1

# Bias Detection
scikit-learn==1.4.1.post1
